* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-no {
  display: none;
}

.nav {
  background-color: green;
  height: 18vh;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(
    to top,
    #ff7032,
    #ff7a43,
    #ff8353,
    #ff8d62,
    #ff9671
  );
}

.logo {
  height: 40px;
  width: 130px;
  z-index: 5;
}

.random-btn,
.search-btn,
.load-more {
  padding: 2px;
  margin-right: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.random-btn:hover,
.search-btn:hover {
  cursor: pointer;
  background-color: #990404;
}

.nav-left,
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  z-index: -1;
}

.nav-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-form {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
}

.buttons-sec {
  display: flex;
  flex-direction: row;
}

.input-search {
  padding: 0px 5px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.random-btn {
  flex: 2;
  padding: 1px;
  font-size: 0.8rem;
  background-color: #dd0808;
  color: white;
  border: none;
  border-radius: 15px;
  text-align: center;
}

.search-btn {
  flex: 2;
  padding: 0px;
  font-size: 0.8rem;
  background-color: #dd0808;
  color: white;
  border: none;
  border-radius: 15px;
  text-align: center;
}

.pokemonIMG {
  height: 100%;
  max-width: 200px;
  min-width: 50px;
  display: flex;
  align-items: center;
}

.pokemonIMG img {
  /* width: 60%; */
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.homeDiv {
  margin-top: 21vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.sidebar {
  flex: 1;
  background-color: blue;
  display: none;
}

.home {
  flex: 5;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5px;
}

.pokemon-card {
  background-color: rgb(249, 244, 244);
  border: 1px solid darkgray;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 3px 6px;
  min-width: 30px;
  max-width: 220px;
  text-transform: capitalize;
  flex-grow: 1;
  max-height: 210px;
}

.pokemon-card:hover {
  cursor: pointer;
}

.pokemon-card img {
  height: 70%;
  margin-bottom: 3px;
  align-self: center;
}

.pokemon-card h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

.pokemon-card h3 {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(142, 142, 142);
}

.pokemon-card h4 {
  font-size: 0.7rem;
  font-weight: 400;
  color: black;
}

.pokemon-card .types {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pokemon-card .type-box {
  margin-right: 5px;
  background-color: white;
  border: 1px solid gray;
  color: rgb(121, 120, 120);
  border-radius: 55px;
  padding: 1px 6px;
}

.buttons-div {
  display: flex;
  justify-content: center;
}

.load-more {
  padding: 5px;
  margin: 25px 5px;
  min-width: 100px;
  background-color: #504c4c;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  /* display: block; */
}

.load-more:hover {
  cursor: pointer;
  background-color: #990404;
}

/* Animations */

.pokemon-card:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-15 8:14:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-6deg);
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(6deg);
    transform: translateX(7px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(-3.6deg);
    transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(2.4deg);
    transform: translateX(5px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
    transform: translateX(-3px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-6deg);
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(6deg);
    transform: translateX(7px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(-3.6deg);
    transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(2.4deg);
    transform: translateX(5px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
    transform: translateX(-3px) rotate(-1.2deg);
  }
}

/* Media queries */

@media (max-width: 1350px) {
  .IMG1 {
    display: none;
  }
}

@media (max-width: 1100px) {
  .IMG2 {
    display: none;
  }
}

@media (max-width: 850px) {
  .IMG3 {
    display: none;
  }
}

@media (max-width: 600px) {
  .IMG4 {
    display: none;
  }
}

.pokemon-details-div {
  position: fixed;
  width: 88%;
  height: 85vh;
  margin: 3% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  top: 8.5%;
  z-index: 3;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 0% 2%;
  border: 1px solid lightgray;
  background-image: linear-gradient(to bottom, #e9f0f5 0%, #afddf7 100%);
}

.pokemon-details-div h2 {
  font-size: 1em;
  font-weight: 600;
  margin-top: 5px;
}

.bio-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5%;
}

.bio-nav h1 {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
}

.bio-nav h3 {
  font-size: 0.9em;
  font-weight: 200;
  color: rgb(142, 142, 142);
  text-transform: capitalize;
}

.bio-main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.bio-bio {
  flex: 1;
  margin-right: 5px;
  border-top: 1px solid black;
}

.bio-bio p {
  margin-bottom: 5px;
}

.bio-bio p:nth-of-type(1) {
  margin-bottom: 20px;
}

.bio-game-stats {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.bio-evolutions {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  border-top: 1px solid black;
}

.img-bio {
  border-radius: 100%;
  border: 4px solid rgb(163, 163, 163);
  background-color: lightgray;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0%;
  align-self: center;
}

.types-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.type-box {
  margin-right: 10px;
  background-color: white;
  border: 1px solid gray;
  color: rgb(121, 120, 120);
  border-radius: 55px;
  padding: 1px 6px;
  font-size: 0.9em;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 7px;
}

.abilities-box {
  margin-right: 10px;
  background-color: rgb(94, 91, 91);
  color: whitesmoke;
  padding: 1px 6px;
  font-size: 0.9em;
  text-transform: capitalize;
  font-weight: 600;
  align-items: center;
}

.weakness-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.weakness-area p {
  margin-right: 5px;
}

.bio-game-stats h3 {
  margin-top: -5px;
  font-size: 0.9em;
  font-weight: 200;
  color: rgb(142, 142, 142);
  margin-bottom: 10px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.stats-container article {
  width: 50%;
  margin-bottom: 5px;
}

.stats-text {
  text-transform: capitalize;
}

.multip-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.multip-container h4 {
  margin-right: 10px;
  min-width: 45px;
  font-weight: 600;
}

.stats-section {
  padding: 0px 5px;
  border-top: 1px solid black;
}

.strengths-weak-section {
  padding: 5px;
  border-top: 1px solid black;
}

.types-section,
.abilities-section {
  margin-top: 20px;
}

.bio-evolutions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.evo-level {
  display: flex;
  flex-direction: row;
}

.evo-level img {
  width: 33%;
  border: 2px solid rgb(177, 174, 174);
  background-color: lightgray;
  border-radius: 50%;
  margin: 5px 0px;
}

.evo-level-details {
  align-self: center;
}

.evo-name {
  text-transform: capitalize;
  margin-left: 15px;
  margin-bottom: 10px;
}

.evo-details-poke {
  font-size: 0.9em;
  margin-left: 15px;
  color: rgb(94, 91, 91);
}

.close-icon {
  font-size: 1.5em;
}

.close-icon:hover {
  cursor: pointer;
}

.bottom-btn {
  padding: 2px;
  background-color: #dd0808;
}

@media (max-width: 450px) {
  .pokemon-card {
    /* min-width: 50px; */
    max-width: 160px;
    /* max-height: 180px; */
    flex-grow: 1;
    /* flex-basis: 1; */
  }

  .pokemon-card img {
    /* height: 65%; */
  }

  .pokemon-details-div {
    height: 100%;
    margin: 0% auto;
    font-size: 0.7em;
    width: 100%;
    top: 0;
    padding-top: 30px;
    border-radius: 0%;
  }

  .img-bio {
    width: 100px;
    height: 100px;
    top: 7%;
  }

  .bio-main {
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  .bio-main div {
    width: 100%;
  }

  .bio-game-stats {
    flex: none;
    margin-left: 0;
    margin-right: 0;
  }

  .bio-bio p:nth-of-type(1) {
    margin-bottom: 8px;
  }

  .bio-bio p {
    margin-bottom: 3px;
  }

  .abilities-section,
  .types-section {
    margin-top: 0px;
  }

  .abilities-section {
    margin-bottom: 10px;
  }

  .bio-evolutions {
    margin-bottom: 10px;
  }

  .stats-container {
    margin-bottom: 7px;
  }

  .close-icon {
    font-size: 2.5em;
    font-weight: 300;
    margin-right: 10px;
  }

  .bio-nav-name {
    max-width: 60px;
    padding-left: 5px;
    font-size: 1em;
    margin-bottom: 10px;
  }
}
